table{
    border-color: aqua;
    border: 2px;
}
#menuVertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
}



